rtspAddress: 0.0.0.0:8554
paths:
  bebe:
    runOnInit: >
      sh -c '{{ video_pipeline }} > /dev/null 2>&1'
    runOnInitRestart: yes

webrtc: yes
webrtcAddress: 0.0.0.0:8889
webrtcLocalUDPAddress: 192.168.4.1:8189
webrtcLocalTCPAddress: 192.168.4.1:8189

hls: yes
hlsAddress: 0.0.0.0:8888

rtmp: yes
rtmpAddress: 0.0.0.0:1935

logLevel: info

api: yes
apiAddress: 0.0.0.0:9997

metrics: yes
metricsAddress: 0.0.0.0:9998
