rtspAddress: 0.0.0.0:8554
paths:
  bebe:
    runOnInit: >
      gst-launch-1.0 v4l2src device=/dev/video0 ! video/x-raw,width=1920,height=1080,framerate=30 ! 
      mpph264enc ! h264parse ! rtspclientsink location=rtsp://localhost:$RTSP_PORT/bebe
    runOnInitRestart: yes

webrtc: yes
webrtcAddress: 0.0.0.0:8889
webrtcLocalUDPAddress: 0.0.0.0:8189

hls: yes
hlsAddress: 0.0.0.0:8888

rtmp: yes
rtmpAddress: 0.0.0.0:1935

logLevel: info
