interface={{ wifi_interface }}
bind-dynamic

# Wi-Fi DHCP range: from .10 to .100, 24h lease
dhcp-range={{ ap_ip_addr | regex_replace('\.[0-9]+/[0-9]+$', '.10') }},{{ ap_ip_addr | regex_replace('\.[0-9]+/[0-9]+$', '.100') }},255.255.255.0,24h

# Explicitly disable Default Gateway (Option 3) and DNS (Option 6)
# dnsmasq sends the host IP by default unless we explicitly suppress them with empty values
dhcp-option=3
dhcp-option=6
